/* style.css */

body {
  background-color: #fcf6f6;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.topnav {
  height: 50px;
  overflow: hidden;
  background-color: #dfdbdb;
  margin: 5px;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

#logo {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

#logo img {
  width: 30px;
  height: 30px;
}

#logo-text {
  color: #000000;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}

.navtags {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start; /* Align items to the start (near the logo) */
  margin-left: 19%; /* Adjust this value to move the links closer or further from the logo */
}

.navtags a {
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 0 10px;
}

#I {
  color: cadetblue;
}

#nno {
  color: darkolivegreen;
}

#vex {
  color: rgb(130, 59, 59);
}

#Hub {
  color: goldenrod;
}

.picture {
  position: fixed;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  z-index: 10;
}

.picture img {
  width: 300px;
  height: auto;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.background-image {
  margin-top: 45px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200vh; /* Twice the viewport height to enable scrolling */
  background-color: #000000;
  background-size: cover;
  background-position: center;
  z-index: 1;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

body.scrolled .background-image {
  opacity: 1;
}

#h {
  font-size: larger;
  margin-left: 200px;
  margin-top: 200px;
  z-index: 2;
  position: relative;
}

.picture{
  margin-left: 678px;
  margin-top: 20px;

}
#p {
  z-index: 2;
  position: relative;
  max-width: 600px;
 margin-top: 450px;
 margin-left:3rem ;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}
#p {
  line-height: 1.6;
}
